* {
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body {
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
    text-align:center;
   
    background:url(img.jpg) ;
    background-position: center;
    background-attachment : fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 768px) {
  body {
    background-size: contain;
  }
}


.header {
font-size:1rem;
border:solid 2px antiquewhite;
color:rgb(244, 244, 245);
background-color:rgb(102, 95, 75);
padding:5px;
width:80%;
margin:20px auto;
border-radius:15px;
}
.main-content{
    width: 100%;
    height:300px;
    background-color:rgb(114, 107, 109);
    border-radius:15px;
    padding :50px 40px;
    box-shadow: 0 0 10px;

}
.main-content .text-area{
    font-size:1.5rem;
    line-height: 1.5em;
}
.main-content .person{
    font-size:1.6rem;
    color:rgb(7, 5, 8);
       margin-top:20px;

}
.button-area button{
    background-color:rgb(77, 113, 122);
    color:blanchedalmond;
    font-size:1.3rem;
    padding:10px 15px;
    margin-top:20px;
    border-radius:15px;

}
.button-area button:active{
    background-color:rgb(73, 57, 129);
    
}
